.btn-vm {
    color: rgba(255, 255, 255);
    background-color: #765ec4;
}

.btn-vm:hover, .btn-vm:focus {
    color: rgba(255, 255, 255);
    background-color: #8f77d9; <!-- 957ede 846dcf -->
}

#login:hover, #login:focus {
    color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 0 0.75rem rgba(27, 17, 59));
}

p.dropdown-item {
    margin-bottom: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

div > h1 {
    font-family: Verdana;
}

.shadow-vm {
    box-shadow: 0 0.2rem 3rem rgba(228, 228, 255, 0.25) !important;
}

.shadow-vm-sm {
    box-shadow: -0.25rem 0.15rem .5rem rgba(228, 228, 255, 0.25) !important;
}

.table-vm {
  --bs-table-bg: #765ec4c4;
  --bs-table-striped-bg: #846dcfc4;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-bottom-color: #cdcdcd;
}